@page "/extension-request"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@inject IStringLocalizer<Pages.ExtensionRequest> Localizer

<div class="container">
    <h3>@Localizer["ExtensionRequestTitle"]</h3>

    <div class="row mb-3">
        <div class="col-md-3">
            <SfDateRangePicker Placeholder="@Localizer["RegistrationDate"]" CssClass="e-outline"></SfDateRangePicker>
        </div>
        <div class="col-md-3">
            <SfTextBox Placeholder="@Localizer["DDENo"]" CssClass="e-outline"></SfTextBox>
        </div>
        <div class="col-md-3">
            <SfDropDownList Placeholder="@Localizer["Status"]" CssClass="e-outline" DataSource="@StatusOptions" TItem="string"></SfDropDownList>
        </div>
        <div class="col-md-3">
            <SfTextBox Placeholder="@Localizer["ReferenceNo"]" CssClass="e-outline"></SfTextBox>
        </div>
        <div class="col-md-3 mt-2">
            <SfButton CssClass="e-primary">@Localizer["Reset"]</SfButton>
            <SfButton CssClass="e-primary">@Localizer["Search"]</SfButton>
        </div>
    </div>

    <SfGrid DataSource="@ExtensionRequestData" AllowPaging="true" PageSettings="new PageSettings { PageSize = 10 }" AllowSorting="true">
        <GridColumns>
            <GridColumn Field="DDENo" HeaderText="@Localizer["DDENo"]" Width="150"></GridColumn>
            <GridColumn Field="ReferenceNo" HeaderText="@Localizer["ReferenceNo"]" Width="150"></GridColumn>
            <GridColumn Field="DeclarationRegistrationDate" HeaderText="@Localizer["DeclarationRegistrationDate"]" Width="150" Format="d"></GridColumn>
            <GridColumn Field="Exporter" HeaderText="@Localizer["Exporter"]" Width="150"></GridColumn>
            <GridColumn Field="ValidationDate" HeaderText="@Localizer["ValidationDate"]" Width="150" Format="d"></GridColumn>
            <GridColumn Field="LoadingDueDate" HeaderText="@Localizer["LoadingDueDate"]" Width="150" Format="d"></GridColumn>
            <GridColumn Field="NewDueDate" HeaderText="@Localizer["NewDueDate"]" Width="150" Format="d"></GridColumn>
            <GridColumn Field="Status" HeaderText="@Localizer["Status"]" Width="150"></GridColumn>
        </GridColumns>
    </SfGrid>

    <div class="row mt-3">
        <div class="col-md-12 text-right">
            <SfButton CssClass="e-primary">@Localizer["DownloadExcel"]</SfButton>
        </div>
    </div>
</div>

@code {
    public class ExtensionRequest
    {
        public string DDENo { get; set; }
        public string ReferenceNo { get; set; }
        public DateTime DeclarationRegistrationDate { get; set; }
        public string Exporter { get; set; }
        public DateTime ValidationDate { get; set; }
        public DateTime LoadingDueDate { get; set; }
        public DateTime NewDueDate { get; set; }
        public string Status { get; set; }
    }

    public List<string> StatusOptions = new List<string>
    {
        "Réceptionner",
        "Autoriser",
        "Rejeter"
        // Add more statuses as needed
    };

    public List<ExtensionRequest> ExtensionRequestData = new List<ExtensionRequest>
    {
        new ExtensionRequest { DDENo = "2022-F-000001", ReferenceNo = "H0001-2022-DAU-000001-E", DeclarationRegistrationDate = new DateTime(2022, 3, 30), Exporter = "Exportateur", ValidationDate = new DateTime(2022, 4, 10), LoadingDueDate = new DateTime(2022, 4, 28), NewDueDate = new DateTime(2022, 5, 10), Status = "Autoriser" }
        // Add more data as needed
    };
}