@page "/rco-request"
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<RcoRequest> Localizer

<div class="container">
    <h3>@Localizer["RequestForBindingInformationOnOrigin"]</h3>
    <SfTextBox TValue="string" Placeholder="@Localizer["RCONo"]" CssClass="e-outline" Value="RCO-2022-000001"></SfTextBox>

    <h4>@Localizer["Applicant"]</h4>
    <div class="row">
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["Applicant"]" CssClass="e-outline" Value="000000123"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["NRC"]" CssClass="e-outline" Value="000000123456789"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["Address"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["NIF"]" CssClass="e-outline" Value="000000123456789"></SfTextBox>
        </div>
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["Email"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["PhoneNo"]" CssClass="e-outline"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["ConfidentialHolder"]</h4>
    <div class="row">
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["Holder"]" CssClass="e-outline" Value="000000123"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["NRC"]" CssClass="e-outline" Value="000000123456789"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["Address"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["NIF"]" CssClass="e-outline" Value="000000123456789"></SfTextBox>
        </div>
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["Email"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["PhoneNo"]" CssClass="e-outline"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["RCOResubmission"]</h4>
    <div class="row">
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["RCOReferenceNumber"]" CssClass="e-outline"></SfTextBox>
            <SfDatePicker TValue="DateTime?" Placeholder="@Localizer["StartDateOfValidity"]" CssClass="e-outline"></SfDatePicker>
        </div>
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["ProductName"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["TariffPositionOrSubPosition"]" CssClass="e-outline"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["TypeOfOperation"]</h4>
    <div class="row">
        <div class="col-md-6">
            <SfRadioButton TValue="string" TChecked="bool" Label="@Localizer["Import"]" Name="operationType"></SfRadioButton>
            <SfRadioButton TValue="string" TChecked="bool" Label="@Localizer["Export"]" Name="operationType"></SfRadioButton>
        </div>
    </div>

    <h4>@Localizer["LegalFramework"]</h4>
    <div class="row">
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["NonPreferentialOrigin"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["PreferentialOrigin"]" CssClass="e-outline"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["CountryOfOriginEnvisagedByTheApplicant"]</h4>
    <div class="row">
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["CountryOfOrigin"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["CountryOfExportIfDifferent"]" CssClass="e-outline"></SfTextBox>
        </div>
        <div class="col-md-6">
            <SfTextBox TValue="string" Placeholder="@Localizer["CountryOfImport"]" CssClass="e-outline"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["AdditionalInformation"]</h4>
    <div class="row">
        <div class="col-md-12">
            <SfTextBox TValue="string" Placeholder="@Localizer["CommercialNameAndAdditionalInformation"]" CssClass="e-outline" Multiline="true"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["HaveYouPreviouslyMadeARequestForSimilarGoods"]" CssClass="e-outline" Multiline="true"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["AreYouAwareOfAnyExistingDecisionsForSimilarGoods"]" CssClass="e-outline" Multiline="true"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["ElementsToProvide"]</h4>
    <div class="row">
        <div class="col-md-12">
            <SfCheckBox TValue="string" TChecked="bool" Label="@Localizer["Samples"]"></SfCheckBox>
            <SfCheckBox TValue="string" TChecked="bool" Label="@Localizer["Brochures"]"></SfCheckBox>
            <SfCheckBox TValue="string" TChecked="bool" Label="@Localizer["Photographs"]"></SfCheckBox>
            <SfCheckBox TValue="string" TChecked="bool" Label="@Localizer["ReportsExpertise"]"></SfCheckBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["OthersSpecify"]" CssClass="e-outline"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["InformationForDeterminingOrigin"]</h4>
    <div class="row">
        <div class="col-md-12">
            <SfTextBox TValue="string" Placeholder="@Localizer["MaterialsUsed"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["TariffPositionOrSubPosition"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["CountryOfOrigin"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["Value"]" CssClass="e-outline"></SfTextBox>
            <SfTextBox TValue="string" Placeholder="@Localizer["Weight"]" CssClass="e-outline"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["SuspensionReason"]</h4>
    <div class="row">
        <div class="col-md-12">
            <SfTextBox TValue="string" Placeholder="@Localizer["SuspensionReason"]" CssClass="e-outline" Multiline="true"></SfTextBox>
        </div>
    </div>

    <h4>@Localizer["AdditionalInformationRequestedByAdministration"]</h4>
    <div class="row">
        <div class="col-md-12">
            <SfTextBox TValue="string" Placeholder="@Localizer["AdditionalInformation"]" CssClass="e-outline" Multiline="true"></SfTextBox>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <SfButton TValue="string" CssClass="e-primary">@Localizer["New"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["Print"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["Save"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["Modify"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["Delete"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["Send"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["Withdraw"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["RequestSuspension"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["ControlResult"]</SfButton>
            <SfButton TValue="string" CssClass="e-primary">@Localizer["Contest"]</SfButton>
        </div>
    </div>
</div>

@code {

    public class RcoRequest
    {
        // Add any necessary code here
    }

}
